@model IEnumerable<ShoppingCartItem>
@inject IProductService productService;

@{
    ViewData["Title"] = "Order";
    double totalPrice = 0;
}

<h1>Place your Order</h1>

<div class="row justify-content-center m-3">
    <div class="col-sm-12 col-md-12 col-lg-12 mt-5">
        <h1>Manage your Shoppingcart</h1>
        <div class="container row mt-4">
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    if (item != null)
                    {
                        var product = productService.GetProductById(item.ProductId);
                        var photoPathRecommended = $"~/images/{product.PhotoPath ?? "noimage.png"}";
                        totalPrice += product.Price;

                        <div class="card m-3" style="width:12rem;">
                            <div class="card-header">
                                <a asp-action="DetailsProduct" asp-controller="Home" asp-route-id="@product.ProductId"><img class="imgRecommendation mt-2" src="@photoPathRecommended" asp-append-version="true" /></a>
                            </div>
                            <div class="card-body text-center">
                                <h6 class="card-title">@product.Name</h6>
                                <h6 class="card-subtitle mb-2 text-muted">@product.Brand</h6>
                                <h5>@product.Price €</h5>
                                <h6>@item.Size</h6>
                            </div>
                            <div class="card-footer">
                                <form asp-action="DeleteShoppingCartItem" asp-controller="Home" asp-route-id="@item.ShoppingCartItemId" method="post" class="d-inline-block">
                                    <button type="submit" class="btn btn-danger" style="width:auto;">Remove From Order</button>
                                </form>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <h2>You have no items in your shoppingcart at the moment so we can not place an order..</h2>
            }
        </div>
        @if (Model.Any())
        {
            <div>
                <form asp-action="CreateOrder" asp-controller="Home" method="post" class="d-inline-block">
                    <button type="submit" class="btn btn-success" style="width:auto;">Total Amount of your order @totalPrice €</button>
                </form>
            </div>
        }
    </div>
</div>